<% provide(:title, "ユーザ編集・削除")%>
<div class="error_message">
  <%= devise_error_messages! %>
</div>
<div class="container mt-5">
<h2>ユーザ編集・削除</h2>

<%= render 'layouts/messages' %>

<%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, local: true) do |f| %>

  <div class="field">
    <%= f.label :name, "ユーザ名" %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :sex, "性別　　" %>
    <%= f.select :sex, [[" ", "0"], ["男", "1"], ["女", "2"]] %>
  </div>

  <div class="field">
    <%= f.label :prefecture_code, "都道府県" %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
  </div>

  <div class="field">
    <%= f.label :image, "プロフィール画像" %>
    <%= f.hidden_field :image_cache%>
    <%= f.file_field :image, id: :user_image %><br>
    <% if @user.image? %>
      <%= image_tag @user.image.url, id: :image_preview %>
    <% else %>
      <%= image_tag '/user_images/default.jpg', id: :image_preview %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="password-edit">
    <%= link_to "パスワード変更", users_edit_password_path(current_user), class: "btn btn-info"%>
</div>

<div class="user-delete">
  <%= link_to "アカウント削除", registration_path(resource_name),
      data: { confirm: "本当によろしいですか?元には戻せません" }, class: "btn btn-danger", method: :delete %>
  </div>
</div>

<!-- プレビュー用 -->
<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#image_preview').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#user_image").change(function(){
   readURL(this);
 });
});
</script>
