<% provide(:title, @user.name)%>
<div class="user-info">
  <div class="col-md-12 user-status text-center">
    <div class="row">
      <div class="col-md-3 offset-md-3 user-name">
        <% if @user.image? %>
          <%= image_tag @user.image.url, id: :image_preview %>
        <% else %>
          <%= image_tag '/user_images/default.jpg', id: :image_preview %>
        <% end %>
        <h1><%= @user.name %></h1>
      </div>
      <div class="col-md-3 user-score">
        <div class="survey-stats border rounded-top-lg">
          <div class="bg-light-custom">アンケート</div>
          <div class="d-flex">
            <div class="flex-fill border-right">
              主催<br/>
              <strong><%= @user.survey.count %></strong>
            </div>
            <div class="flex-fill">
              参加中<br/>
              <strong><%= @user.vote.count %></strong>
            </div>
          </div>
        </div>
        <div class="follow-stats border rounded-top-lg">
          <div class="bg-light-custom">フォロー</div>
          <div class="d-flex justify-content-between">
            <div class="flex-fill border-right">
              <span> フォロー </span><br/>
              <strong><%= @user.survey.count %></strong>
            </div>
            <div class="flex-fill">
              フォロワー<br/>
              <strong><%= @user.vote.count %></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 rounded-0 card my-survey">
      <%= render "surveys/my_surveys" %>
    </div>
    <div class="col-md-6 rounded-0 card voted-survey">
      <%= render "surveys/voted_surveys"%>
    </div>
  </div>
</div>
