<% provide(:title, "パスワード変更")%>
<div class="error_message">
  <%= render "shared/error_message" %>
</div>
<div class="container mt-5">
<h2>パスワード変更</h2>

<%= form_with(model: @user, url: user_path(@user), local: true) do |f| %>
<div class="field">
  <%= f.label :password, "新しいパスワード" %>
  <em>(6文字以上)</em>
  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
</div>

<div class="field">
  <%= f.label :password_confirmation, "パスワード確認" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
</div>

<div class="field">
  <%= f.label :current_password, "現在のパスワード" %>
  <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', id: "current_password" %>
</div>

  <div class="actions">
    <%= f.submit "変更を保存", class: "btn btn-primary" %>
  </div>
<% end %>
  <div class="back-btn">
    <%= link_to "戻る", edit_user_path(@user), class: "btn btn-info"%>
  </div>
</div>
