<% provide(:title, "ユーザ検索")%>
<div class="container-fluid mt-5">
  <h1>ユーザ検索</h1>
  <div class="search_form">
    <%= form_with(url: users_path, method: :get, local: true) do |f| %>
      <%= f.text_field :search%>
      <%= f.submit "検索", class: "btn btn-primary"%>
    <% end %>
  </div>
  <div class="feeds">
    <% if @users.present? %>
      <%= render @users %>
    <% else %>
      <h3>該当するユーザが見つかりません</h3>
    <% end %>
  </div>
  <%= paginate @users %>
</div>
