<% provide(:title, "新規登録")%>
<div class="error_message">
  <%= render "shared/error_message", object: @user %>
</div>
<div class="container sign-up-contailner mt-5">
<h2>新規登録</h2>
<div class="alert alert-info">
    性別、生年月日、都道府県は公開されません。<br/>
    アンケート結果のフィルタリング機能のために使われます。
</div>
<%= form_with(model: @user, url: signup_path, local: true) do |f| %>


  <div class="field">
    <%= f.label :name, "ユーザ名" %>
    <span class="badge badge-danger">必須</span>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <span class="badge badge-danger">必須</span>
    <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <em>(6文字以上)</em>
    <span class="badge badge-danger">必須</span>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %>
    <span class="badge badge-danger">必須</span>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :sex, "性別　　" %>
    <%= f.select :sex, [[" ", "0"], ["男", "1"], ["女", "2"]] %>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日" %>
    <em class="text-danger">(登録後、変更できません)</em>
    <%= f.date_select :birthday, use_month_numbers: true,
        start_year: (Time.now.year-100), end_year: (Time.now.year-3), default: Date.new((Time.now.year-20), 1, 1)%>
  </div>

  <div class="field">
    <%= f.label :prefecture_code, "都道府県" %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
  </div>

  <div class="field">
    <%= f.label :image, "プロフィール画像" %>
    <%= f.hidden_field :image_cache%>
    <%= f.file_field :image, id: :user_image %><br>
    <% if @user.image? %>
      <%= image_tag @user.image.url, id: :image_preview %>
    <% else %>
      <%= image_tag '/user_images/default.jpg', id: :image_preview %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "新規ユーザ登録", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<!-- プレビュー用 -->
<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#image_preview').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#user_image").change(function(){
   readURL(this);
 });
});
</script>
