<% provide(:title, @survey.question)%>
<div class="container sign-up-contailner mt-5">
<h2> <%= "【投票結果】#{@survey.question}" %> </h2>
<div class="answer-link">
  <% if logged_in? %>
    <% if current_user.voted?(@survey)%>
      <%= link_to "投票修正", survey_path(@survey), class: "btn btn-info"%>
    <% else %>
      <%= link_to "投票する", survey_path(@survey), class: "btn btn-primary"%>
    <% end %>
  <% else %>
    <div class="alert alert-danger" role="alert">投票するにはアカウントが必要です。</div>
    <div>アカウントをお持ちでない方は　<%= link_to "新規登録", signup_path, class: "btn btn-primary" %></div>
    <div>アカウントをお持ちの方は　<%= link_to "ログイン", login_path, class: "btn btn-primary" %></div>
    <hr/>
  <% end %>
</div>
  <% if @votes.count == 0 %>
  <div class="alert alert-danger" role="alert">投票がされていません。</div>
  <% else %>
    <div id="chart"><%= pie_chart @chart %></div>
    <div class="col-md-12 d-flex justify-content-center mt-5">
      <table border="1" class="text-center">
        <tr>
          <% @choices.each do |c|%>
            <th><%= c.answer %></th>
          <% end %>
        </tr>
          <tr>
            <% @choices.each do |c|%>
              <th><%= vote_count(c) %></th>
            <% end %>
        </tr>
      </table>
    </div>
  <% end %>
  <div class="comment">
    <h3>コメント</h3>
    <div class="p-1 comment-feeds">
      <% @votes.each do |vote|%>
        <li>
          <% if vote.comment %>
            <div class="row">
              <div class="col-md-2 font-weight-bold"><%= voted_choice(vote) %></div>
              <div class="col-md-10">
                <%= image_tag voted_user(vote).image.url, id: :index_mini_image %>
                <%= link_to voted_user(vote).name, user_path(voted_user(vote))%>
                <%= vote.comment %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
</div>
